/android-studio
devkit/docker/downloads/ctc-linux64-atom-2.5.2.74.zip:Zone.Identifier
.gitignore
devkit/docker/downloads/pynaoqi-python2.7-2.5.5.5-linux64.tar.gz:Zone.Identifier
devkit/docker/downloads/naoqi-sdk-2.5.5.5-linux64.tar.gz:Zone.Identifier
playground/petri_net_plans/__init__.pyc
playground/modim/__init__.pyc
playground/modim/scripts/__init__.pyc
