body {
    height: 100vh;
    margin: 0;
    /*background-image: radial-gradient(ellipse, rgba(255, 255, 255, 0.884) 35%, rgba(0, 0, 0, 0.404) 83%, rgba(0, 0, 0, 0.404) 100%), url('img/bg.jpg'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url('img/bg.jpg');
    background-size: cover;
    background-position: center;
    /* background-blend-mode: hard-light; */
    background-blend-mode: hard-light;
    font-family: sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 300%;
    color: white;
    }

input[type=button] {
    background-color: #FF914D;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 14px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin:10px 10px 10px 10px;
  }



.main-img {
    height: 300px;
    margin: 40px 0px;
}

.map-grid {
    display: grid;
    grid-template-columns: repeat(10, minmax(30px, 1fr));
    grid-template-rows: repeat(10, minmax(30px, 1fr));
    border: 1px solid black;
    width: 90%;
    height: 85vh;
}

.map-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    text-align: center;
}

.map-tile {
    background-color: rgba(255, 255, 255, 0.7);
}

.beverages {
    background-color: rgba(210, 105, 30, 0.699);
}

.shelf.not-available {
    filter: grayscale(0.9);
}

.start {
    background-color: green;
    color: white;
    border-radius: 30px;
    padding: 5px 15px;
}

.product.take {
    background-color: green;
    color: white;
    border-radius: 30px;
    padding: 5px 15px;
}

.product.show {
    background-color: green;
    color: white;
    border-radius: 30px;
    padding: 5px 15px;
}

.path {
    color: green;
}

.loader {
    border: 16px solid #00000088; /* Light grey */
    border-top: 16px solid #FF914D; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Arrows */
.arrow {
    border: solid green;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
}

.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }